#mfcds
    .mfcds_links#mfcds_links-left
        h1!= mfcds.text.leftTitle
        div
            each page in mfcds.data.default.left
                press.interactable!= page
    .mfcds_links#mfcds_links-right
        h1!= mfcds.text.rightTitle
        div
            each page in mfcds.data.default.right
                press.interactable!= page
    #mfcds_pages
        div
            each page, index in mfcds.data.pages
                if (index < 4)
                    press!= page
        div
            each page, index in mfcds.data.pages
                if (index >= 4)
                    press!= page
        div
            press#mfcds_pages-remove
