meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(http-equiv="content-language" content=meta.lang)
meta(charset=meta.charset)
meta(name="title" content=meta.title)
meta(name="description" content=meta.description)
meta(name="author" content=meta.author)
link(rel="icon" href="images/favicon.ico")
title= meta.title
